# Binaries
*.class
target/
.jvm/
.js/
META-INF/

# Logs
*.log
hs_err_pid*

# Build tools
.bsp/
.bloop/
.metals/
metals.sbt

# IDEs
.idea/*
.vscode/*

# Agents
.claude/settings.local.json
.claude/worktrees/
.playwright-mcp/
